@import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}


:root {
    --primary_color: #ffffff;
    --secondary_color: #000000;
    --tertiary_color: #2D266C;
    --var_tertiary_color: #F99339;
    --net_blue: #2D266C;
    --text_color: #5F5F5F;
    --span: #F7F9FC;
    --f_gray: #344054;
    --h_gray: #101928;
    --grey_500: #667185;
    --ofice_brown: #645D5D;
    --gold_color: gold;

    --boxbd_color: #e2e1e1a8;

    --text-color: #6a6969;
    --text-hd-color: #e6e3e3;
    --P_font-size: 1em;
    --P_font-weight: 300;

    --h3_font-size: 1em;
    --h3_font-weight: 700;

    --h2_font-size: 2.4em;
    --h2_font-weight: 700;

    --h1_font-size: 3em;
    --h1_font-weight: 700;



    /**
   * colors
   */

    --safety-orange: #150e1f;
    --lavender-gray: hsl(230, 19%, 81%);
    --persian-rose: #61CE70;
    --main_color: #662374;
    --eerie-black: hsl(240, 6%, 10%);
    --light-gray: hsl(0, 0%, 80%);
    --cultured-2: hsl(210, 60%, 98%);
    --platinum: hsl(0, 0%, 90%);
    --gray-web: hsl(220, 5%, 49%);
    --cultured: hsl(0, 0%, 93%);
    --black_10: hsla(0, 0%, 0%, 0.1);
    --black_5: hsla(0, 0%, 0%, 0.05);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 14%, 98%);
    --black: hsl(0, 0%, 0%);

    /**
    * gradient color
    */

    --gradient: linear-gradient(to left top, var(--persian-rose), var(--safety-orange));

    /**
    * typography
    */

    --ff-roboto: 'Roboto', sans-serif;
    --ff-league-spartan: 'League Spartan', sans-serif;

    --fs-1: 3.5rem;
    --fs-2: 3rem;
    --fs-3: 2.1rem;
    --fs-4: 1.7rem;
    --fs-5: 1.4rem;
    --fs-6: 1.3rem;

    --fw-700: 700;
    --fw-500: 500;

    /**
    * spacing
    */

    --section-padding: 60px;

    /**
    * shadow
    */

    --shadow-1: 0 6px 24px var(--black_5);
    --shadow-2: 0 2px 28px var(--black_10);

    /**
    * border radius
    */

    --radius-2: 2px;
    --radius-5: 5px;
    --radius-8: 8px;

    /**
    * transition
    */

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}

html,
body {
    margin: 0;
    scroll-behavior: smooth;
    cursor: crosshair;
    background-color: rgba(202, 202, 202, 0.062);
}

.container {
    overflow: hidden;
    background-color: var(--primary_color);
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease;
}

a {}

.cursor {
    z-index: 9999;
    border: 2px solid var(--primary_color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    pointer-events: none;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
}

.cursor::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--primary_color);
    border-radius: 50%;
}

.upper li, .top, .left, .right, .bottom, .stop, .seq-item, .hero-title, .feature-card, .leftnav {
    visibility: hidden;
  }


.loader {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    left: 0;
    height: 100vh;
    background: url(../img/Group\ 1637.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: linear-gradient(var(--tertiary_color) var(--var_tertiary_color));
    overflow-y: hidden;

}

.loader svg {
    width: 100%;
    height: 100%;
    position: absolute;
    font-weight: 900;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
  }
  

.dots-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.dis {
    animation-name: loaderFadeOut;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes loaderFadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


svg text {
    font-size: 3em;
    stroke-width: 4;
    letter-spacing: 2px;
    width: 100%;
}



svg .text_body {
    stroke: var(--primary_color);
    animation: 5s 1 alternate animate_stroke;
}

.phoneSize {
    display: none;
}

@keyframes animate_stroke {

    0% {
        fill: transparent;
        stroke: var(--primary_color);
        stroke-width: 2;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 26%;
    }

    40%,
    50%,
    60% {
        fill: transparent;
        stroke: var(--primary_color);
        stroke-width: 2;
    }

    90%,
    100% {
        fill: var(--primary_color);
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 26% 0;
    }
}

.dotsCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.section_one {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.section_one_sub {
    width: 100%;
    height: 100%;
    background-color: var(--primary_color);
    background-image: url(../img/Frame\ 1618868254.png);
    background-size: contain;
    padding: 3rem 6% 1rem;
    position: relative;
}

header {
    width: 90%;
    max-width: 100%;
    background-color: var(--primary_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 20px rgba(128, 128, 128, 0.116), 0 2px 20px rgba(128, 128, 128, 0.158);
    border-radius: 30px;
    position: absolute;
    margin: 0 6%;
    left: 0;
    z-index: 999;
}

header.shadow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary_color);
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0%;
    left: 0;
    right: 0;
    max-width: 100%;
    margin: auto;
    animation: 1s NavHidden;
    padding: 1rem 2rem;
    border-radius: 0;
}

@keyframes NavHidden {
    0% {
        transform: translate(0, -150%);
    }

    100% {
        transform: translate(0, 0);
    }
}

header .nav_bar {
    border: 1px solid var(--tertiary_color);
    padding: .8rem 1.3rem;
    border-radius: 20px;
    background-color: var(--span);

}


header .nav_bar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

header .nav_bar ul li {
    padding: 0 1%;
    list-style: none;
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.5s ease forwards;
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
}

header .nav_bar ul li a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    color: var(--tertiary_color);
}

header .nav_bar ul li button {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    color: var(--tertiary_color);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown {
    position: static;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.dropdown_button {
    display: flex;
    align-items: center;

}

.dropdown-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background: none;
    border: none;
    cursor: pointer;
    font-family: system-ui, sans-serif;
    color: #4a5568;
}

.chevron {
    transition: transform 0.2s;
}

.chevron.open {
    transform: rotate(180deg);
}

.dropdown_content {
    display: none;
    position: absolute;
    left: 0;
    top: 90%;
    width: 100%;
    background: var(--primary_color);
    border: 1px solid #e2e8f000;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    padding: 16px;
    z-index: 10000;
    transition: .3s;
}

.dropdown_content_sub {
display: grid;
grid-template-columns: 70% 30%;
align-items: center;
justify-content: space-between;
gap: 30px;
padding: 0 2rem;
}

.dropdown_content_sub_text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.dropdown_content_sub_img {
    width: 100%;
}

.dropdown_content_sub_img img {
    width: 100%;
}

.dropdown_content.show {
    display: block;

}

.dropdown_content_text {
    width: 100%;
    background-color: var(--tertiary_color);
    border-radius: 20px;
    padding: 1rem 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.dropdown_content_text h2{
    font-family: Anek Gurmukhi;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: var(--DisplayLargeTracking);
    background: radial-gradient(50% 144.68% at 17.57% 15.69%, #584AD2 15.5%, #B0A8FF 53%, #7C70EC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown_content_text p{
    font-family: Anek Gurmukhi;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: var(--DisplayLargeTracking);
    background: radial-gradient(50% 144.68% at 17.57% 15.69%, #584AD2 15.5%, #B0A8FF 53%, #7C70EC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service_item {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.2s;
    position: relative;
}

.service_item::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--tertiary_color);
    width: 4px;
    height: 100%;
}

.service_item:hover {
    background-color: #f7fafc;
}

.service_img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.service-text {
    flex: 1;
    text-align: left;
}

.service-title {
    font-weight: 500;
    color: #1a202c;
    margin: 0 0 4px 0;
}

.service-description {
    font-size: 14px;
    color: #718096;
    margin: 0;
}

header .nav_bar ul li:nth-child(1) {
    animation-delay: 0.1s;
}

header .nav_bar ul li:nth-child(2) {
    animation-delay: 0.3s;
}

header .nav_bar ul li:nth-child(3) {
    animation-delay: 0.5s;
}

header .nav_bar ul li:nth-child(4) {
    animation-delay: 0.7s;
}

header .nav_bar ul li:nth-child(5) {
    animation-delay: 0.9s;
}

header .nav_bar ul li:nth-child(6) {
    animation-delay: 01.1s;
}

header .nav_bar ul li:nth-child(7) {
    animation-delay: 01.3s;
}

header .nav_bar ul li:nth-child(7) {
    animation-delay: 01.5s;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header .nav_bar ul li a span {
    color: var(--primary_color);
    background-color: red;
    border-radius: 20px;
    padding: 3px;
    font-size: .5em;
}

.logo {
    position: relative;
    width: 120px;
    z-index: 99;
}

.logo_img {
    width: 100%;
    object-fit: scale-down;
    position: relative;
    z-index: 1;
    background-color: var(--primary_color);
}


.bar {
    width: 25px;
    height: 17px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    right: 0;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin-right: 5px;
    margin-top: -4px;

}

.bar.roller {
    transform: rotate(90deg);
}

.bar_sub {
    width: 100%;
    height: 2.5px;
    background-color: var(--tertiary_color);
    border-radius: 30px;
    transition: transform 0.3s ease-in-out;
}

.bar .bar_sub:nth-child(2) {
    width: 100%;
}

.bar.active .bar_sub:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 5px);
}

.bar.active .bar_sub:nth-child(2) {
    opacity: 0;
}

.bar.active .bar_sub:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -4px);
}


.Get_started_ctn a {
    color: var(--primary_color);
    font-size: 1em;
    background-color: var(--tertiary_color);
    padding: 20px 27px;
    border-radius: 10px;
    display: inline-flex;
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.5s ease forwards;
    animation-delay: 01.3s;
}

.show {
    display: none;
}

.section_one_sub_container {
    padding: 11rem 2% 0rem;
    display: grid;
    gap: 20px;
    grid-template-columns: 100%;
}

.section_one_sub_container_text {
    width: 100%;
    text-align: center;
}


.section_one_sub_container_text h1 {
    font-size: 4.8em;
    width: 100%;
    text-align: center;
    max-width: 85%;
    margin: 0 auto;
    background: radial-gradient(50% 144.68% at 17.57% 15.69%, #584AD2 15.5%, #B0A8FF 53%, #2D266C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Audiowide", serif;

}

.gradient-text {
    background: radial-gradient(50% 144.68% at 17.57% 15.69%, #584AD2 15.5%, #B0A8FF 53%, #2D266C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    opacity: 1;
    display: block;
}

#dynamic-word {
    display: inline-block;
    transition: opacity .8s ease;
}

.section_one_sub_container_text p:nth-child(2) {
    font-family: Inter;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    font-size: 1.8em;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: var(--DisplayLargeTracking);
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.section_one_sub_container_text_link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

.section_one_sub_container_text_link a {
    padding: 16px 40px;
    border-radius: 10px;
    color: var(--primary_color);
    font-size: 1.2em;
    display: inline-flex;
    background-color: var(--tertiary_color);
}

.section_one_sub_container_text_link img {
    width: auto;
    object-fit: contain;
}

.section_one_sub_container_text_link p {
    font-family: Inter;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 19.36px;
    letter-spacing: var(--DisplayLargeTracking);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.section_one_sub_container_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

.section_one_sub_container_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

.floating_image {
    animation: float 3s ease-in-out infinite;
    transition: transform 0.3s ease;
}


.floating_image:hover {
    transform: scale(1.05);
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.grouper {
    position: absolute;
    bottom: -3px;
    width: auto;
    left: 0;
    z-index: 4;
}

.grouper_two {
    position: absolute;
    bottom: 8%;
    width: auto;
    height: auto;
    right: 0;
}


#playButton {
    border: none;
    background-color: #584AD2;
    color: white;
    padding: 7px 15px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    position: fixed;
    bottom: 20%;
    right: 0;
    /* Added for pulse effect */
    outline: none;
    z-index: 999;
}

/* Updated pulse animation */
.pulse-active {
    animation: pulse-animation 1.5s ease-in-out infinite;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(88, 74, 210, 0.7);
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 0 0 10px rgba(88, 74, 210, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(88, 74, 210, 0);
    }
}

#playButton i {
    font-size: 16px;
    pointer-events: none;
    /* Prevents icon from interfering with button clicks */
}

#content {
    display: none;
}


.section_two {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 2%;
}

.section_two_sub {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: var(--span);
    padding: 4rem 6%;
    border-radius: 30px;
}

.head_setion_two {
    text-align: center;
}

.head_setion_two_box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    border-radius: 15px;
    background-color: #FFFAF5;
    border: 1px solid var(--var_tertiary_color);

}

.head_setion_two_box img {
    width: 32px;

}

.head_setion_two .head_setion_two_box p {
    font-size: 1.2em;
    font-weight: 100;
    line-height: 35px;
    letter-spacing: var(--DisplayLargeTracking);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.head_setion_two h2 {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: var(--DisplayLargeTracking);
    color: var(--tertiary_color);
    margin: 1rem 0;
}

.head_setion_two p {
    font-family: Inter;
    font-size: 1.7em;
    font-weight: 300;
    line-height: 29.05px;
    letter-spacing: var(--DisplayLargeTracking);
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.section_two_sub_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 15px;
    padding-top: 25px;
}

.section_two_sub_container_content {
    width: 100%;
    background-color: var(--primary_color);
    padding: 2rem 1rem;
    position: relative;
}

.section_two_sub_container_content::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--tertiary_color);
    position: absolute;
    top: 0;
    left: 0;
}

.section_two_sub_container_content:nth-child(2):after {
    background-color: var(--var_tertiary_color);
}

.section_two_sub_container_content_img img {
    width: 103px;
    object-fit: scale-down;
}

.section_two_sub_container_content_text {
    padding-top: 10px;
}

.section_two_sub_container_content_text h3 {
    font-size: 1.6em;
    font-weight: 600;
    line-height: 28.8px;
    letter-spacing: var(--DisplayLargeTracking);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--tertiary_color);
}

.section_two_sub_container_content:nth-child(2) h3 {
    color: var(--var_tertiary_color);
}

.section_two_sub_container_content_text p {
    font-size: 1.4em;
    font-weight: 400;
    line-height: 21.78px;
    letter-spacing: var(--DisplayLargeTracking);
    text-align: left;
    text-underline-position: from-font;
    color: var(--text-color);
    text-decoration-skip-ink: none;
    margin: 10px 0;
}

.section_two_sub_container_content_text ul {
    padding-left: 30px;
}

.section_two_sub_container_content_text li {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    letter-spacing: var(--DisplayLargeTracking);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-color);
}


.section_three {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 2.5%;
}

.section_three_sub {
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    height: 100%;
    padding-bottom: 24rem;
    background-color: var(--span);
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/Group\ 1637.png);
    background-position: bottom;
    position: relative;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.section_three_sub_container {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 3rem 6%;
}

.section_three_sub_container_text {
    width: fit-content;
    padding-top: 2rem;
}

.section_three_sub_container_text h2 {
    width: 100%;
    max-width: 85%;
    margin: 0 auto;
    font-size: 3.7em;
    font-weight: 600;
    line-height: 76.8px;
    letter-spacing: var(--DisplayLargeTracking);
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--primary_color);
}

.section_three_sub_container_text p {
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    font-size: 2em;
    font-weight: 300;
    line-height: 38.73px;
    letter-spacing: var(--DisplayLargeTracking);
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--primary_color);
}


@keyframes scaleEffect {
    0% {
        transform: scale(1);
    }

50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.section_three_sub_img_1 {
    position: absolute;
    width: 10%;
    bottom: -15px;
    left: 5%;
    animation-delay: 3s;
    animation: scaleEffect 7s ease-in-out both infinite;
}

.section_three_sub_img_2 {
    position: absolute;
    bottom: -5px;
    width: 7%;
    left: 45%;
    animation-delay: 9s;
    animation: scaleEffect 3s ease-in-out both infinite;
}

.section_three_sub_img_3 {
    position: absolute;
    bottom: -5px;
    right: 5%;
    width: 22%;
    animation: scaleEffect 5s ease-in-out both infinite;
}


.section_four {
    justify-content: center;
    align-items: center;
    margin: auto;

}

.section_four_sub {
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    height: 100%;
    padding: 6rem 8% 4rem;

}

.section_four_sub_container {
    display: grid;
    width: 100%;
    max-width: 80% ;
    margin: auto;
    grid-template-columns: 57% 36%;
    gap: 1%;
    align-items: center;
    justify-content: space-between;
}

.section_four_sub_container_text {
    width: 100%;
}

.section_four_sub_container_text h2 {
    font-size: 2.3em;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: var(--DisplayLargeTracking);
    color: var(--tertiary_color);
    margin: 1rem 0;
}

.section_four_sub_container_text p {
    font-size: 1.4em;
    font-weight: 400;
    line-height: 21.78px;
    letter-spacing: 1.5px;
    text-align: left;
    text-underline-position: from-font;
    color: var(--secondary_color);
    text-decoration-skip-ink: none;
    padding: 10px 0 10px 30px;
    position: relative;
}

.section_four_sub_container_text p::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 10px;
    background-color: var(--secondary_color);
    left: 0;
    top: 30%;
}

.section_four_sub_container_text a {
    padding: 16px 40px;
    border-radius: 10px;
    color: var(--primary_color);
    font-size: 1.2em;
    display: inline-flex;
    background-color: var(--tertiary_color);
    margin-top: 40px;
    width: 60%;
    text-align: center;
    justify-content: center;
}

.section_four_sub_container_box {
    width: 100%;
    background-color: var(--primary_color);
    padding: 2rem 1rem;
    position: relative;
    box-shadow: var(--shadow-2);
    border-radius: 10px;
}


.section_five {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 2%;
}

.section_five_sub {
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    height: 100%;
    padding: 1rem 10% 3rem;
    background-color: var(--span);
    border-radius: 30px;
    text-align: center;
}

.section_five_sub_container {
    gap: 5%;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

.section_five_sub_container_content {
    width: 50%;
    padding: 2rem;
    background-color: var(--primary_color);
    border-radius: 10px;
    box-shadow: var(--shadow-2);
    transition: all 0.5s ease;
}

.timeline_items {
    max-width: 100%;
    margin: auto;
    position: relative;
}

.timeline_items::before {
    content: '';
    position: absolute;
    width: calc(100vw / 300);
    height: 100%;
    background-color: var(--tertiary_color);
    left: 50%;
    z-index: 30;
    cursor: pointer;
    transform: translateX(-50%);
}

.timeline_scroll_indicator {
    position: absolute;
    left: 50%;
    width: calc(100vw / 200);
    height: calc(100vw / 200);
    background-color: var(--primary_color);
    border-radius: 50%;
    transform: translateX(-50%);
    z-index: 100;
    pointer-events: none;
    transition: top .6s linear;
    margin-top: .34rem;
    animation: wave 1s infinite ease-in-out
}

@keyframes wave {
    0% {
        transform: translateX(-50%) scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    50% {
        transform: translateX(-50%) scale(1.2);
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
    }
    100% {
        transform: translateX(-50%) scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.timeline_item {
    width: 100%;
    margin-bottom: 40px;
    position: relative;
}

.timeline_dot {
    height: calc(100vw / 100);
    width: calc(100vw / 100);
    background-color: var(--tertiary_color);
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

.timeline_content {
    width: 48%;
    padding: 2rem;
    background-color: var(--primary_color);
    border-radius: 10px;
    box-shadow: var(--shadow-2);
    position: relative;
    opacity: 0;
    transition: all 0.5s ease;
}

.timeline_item:nth-child(even) .timeline_content {
    float: left;
    margin-right: auto;
    transform: translateX(-100px);

}

.timeline_item:nth-child(odd) .timeline_content {
    float: right;
    transform: translateX(100px);
    margin-left: 2rem;
}

.timeline_item.show-animation:nth-child(even) .timeline_content,
.timeline_item.show-animation:nth-child(odd) .timeline_content {
    opacity: 1;
    transform: translateX(0);
}

.timeline_content h2 {
    font-family: Anek Gurmukhi;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 28.8px;
    letter-spacing: var(--DisplayLargeTracking);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--tertiary_color);
}

.timeline_content p {
    width: 100%;
    max-width: 90%;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 21.78px;
    letter-spacing: 1.5px;
    text-align: left;
    text-underline-position: from-font;
    color: var(--secondary_color);
    text-decoration-skip-ink: none;
    padding: 10px 0 20px;
    position: relative;
}



.timeline_item::after {
    content: '';
    display: block;
    clear: both;
}

.timeline_content::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--primary_color);
    top: 10px;
    transform: rotate(45deg);
    z-index: -1;
}

.timeline_item:nth-child(even) .timeline_content::before {
    right: -10px;
}

.timeline_item:nth-child(odd) .timeline_content::before {
    left: -10px;
}

.timeline_content_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin: 1rem o;
}

.timeline_content_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.section_five_sub a {
    padding: 16px 40px;
    border-radius: 10px;
    color: var(--primary_color);
    font-size: 1.2em;
    display: inline-flex;
    background-color: var(--tertiary_color);
    margin-top: 40px;
    text-align: center;
    justify-content: center;
}



.section_six {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 2.5%;
    overflow: hidden;
}

.section_six_sub {
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    height: 100%;
    padding: 2rem 6% 27rem;
    border-radius: 30px;
    position: relative;
}


.section_six_sub img:nth-child(1) {
    position: absolute;
    margin: 0 auto;
    width: 70%;
    bottom: -25%;
    left: 19%;
    animation: none;
}

.section_six_sub img:nth-child(2) {
    position: absolute;

    width: 8%;
    bottom: -15px;
    left: 15%;
}

.section_six_sub img:nth-child(3) {
    position: absolute;
    width: 16%;
    bottom: -15px;
    right: 8%;
}

.section_six_sub img:nth-child(4) {
    position: absolute;
    width: 700px;
    bottom: -700px;
    right: -40px;
    background-color: bege;
}

.section_six_sub img:nth-child(5) {
    position: absolute;

    width: 6%;
    bottom: -15px;
    left: 49.3%;
}


.section_six_sub_container {
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.section_six_sub_container_text {
    width: fit-content;
    padding-top: 0rem;
    text-align: center;
}

.section_six_sub_container_text h2 {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    font-size: 4.2em;
    font-weight: 600;
    letter-spacing: var(--DisplayLargeTracking);
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--tertiary_color);
}

.section_six_sub_container_text p {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    font-size: 1.8em;
    font-weight: 300;
    line-height: 38.73px;
    letter-spacing: var(--DisplayLargeTracking);
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-color);
}

.section_six_sub_container_text a {
    padding: 16px 60px;
    border-radius: 10px;
    color: var(--primary_color);
    font-size: 1.2em;
    display: inline-flex;
    background-color: var(--tertiary_color);
    margin: 20px auto;
    text-align: center;
    justify-content: center;
}


.section_seven {
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--tertiary_color);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/Group\ 1637.png);
    overflow: hidden;
    background-position: bottom;
    border-radius: 30px;
    padding: 4rem 5%;
}

.section_seven_sub {
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.section_seven_sub .head_setion {
    text-align: center;
    padding: 0 8%;
}

.section_seven_sub .head_section h2 {
    font-size: 2.4em;
    color: var(--primary_color);
    text-align: center;
}

.section_seven_sub .head_section p {
    width: 100%;
    max-width: 80%;
    margin: 10px auto 0;
    font-size: 1.8em;
    font-weight: 200;
    line-height: 1.4;
    letter-spacing: var(--DisplayLargeTracking);
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #E2E2E2;
}

.section_seven_sub_container {
    width: 100%;
    height: auto;
    padding-top: 2rem;
}

.swiper-slide {
    height: auto !important;
}

.section_seven_sub_container_content {
    background-color: var(--primary_color);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.section_seven_sub_container_content h3 {
    width: 100%;
    max-width: 100%;
    margin: 0px auto 5px;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: var(--DisplayLargeTracking);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--secondary_color);
}

.section_seven_sub_container_content p {
    width: 100%;
    max-width: 100%;
    margin: 0px auto 5px;
    font-size: 1em;
    font-weight: 300;
    text-align: left;
    color: var(--secondary_color);
}

.section_seven_sub_container_content_img {
    position: relative;
    width: fit-content;
}

.section_seven_sub_container_content_img img {
    width: auto;
    object-fit: contain;
}

.section_seven_sub_container_content_img .bx {
    font-size: 1em;
    padding: 2px;
    border-radius: 10px;
    color: var(--primary_color);
    background-color: rgb(3, 122, 196);
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 2px;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.icon_section {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
}

.icon_section span {
    font-size: .9em;
    color: var(--safety-orange);
}

.icon_section img {
    width: 13px;
    object-fit: scale-down;
    margin: 0 0 0 3px;
}


footer {
    justify-content: center;
    align-items: center;
    margin: 1rem auto 0;
}

.footer_sub {
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    width: 100%;
    height: 100%;
    background-color: var(--span);
    padding: 4rem 8% 6rem;
    background-color: var(--span);
}

.footer_sub_news_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: .1px solid var(--boxbd_color);
}

.footer_sub_news_section_text h2 {
    font-size: 2em;
    margin-bottom: 3px;
    color: var(--h_gray);
    font-weight: 600;
}

.footer_sub_news_section_text p {
    width: 100%;
    max-width: 60%;
    margin: 0px 0 5px;
    font-size: 1.2em;
    font-weight: 300;
    text-align: left;
    color: var(--f_gray);
}

.footer_sub_news_section_input {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}

.footer_sub_news_section_input input {
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    border: .01px solid var(--boxbd_color);
    background-color: var(--primary_color);
}

.footer_sub_news_section_input button {
    padding: 15px 30px;
    border-radius: 10px;
    background-color: var(--tertiary_color);
    color: var(--primary_color);
    border: none;
}

.footer_sub_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
}

.footer_sub_links_sub h2 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--f_gray);
}

.footer_sub_links_sub ul {
    display: flex;
    align-items: center;
    justify-content: left;
    list-style: none;
    padding-top: 0rem;
}

.footer_sub_links_sub ul li a {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 2;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--grey_500);
    margin-right: 20px;
    letter-spacing: 1.2px;
}

.footer_sub_links_img img {
    width: 182px;
    background-color: var(--primary_color);
    padding: 1rem;
    border-radius: 20px;
}

.contact_section {
    padding-top: 2rem;
}

.contact_section h2 {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 23.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.contact_section_info {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    margin: 1.5rem 0;
}

.contact_section_info_sub {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
}

.contact_section_info_sub span {
    color: var(--ofice_brown);
    font-size: 1em;
}

.contact_section_info_sub svg {
    width: 16px;
    object-fit: scale-down;
}

.contact_section p {
    color: var(--ofice_brown);
    font-size: 1.2em;
}

.contact_section p span {
    color: var(--f_gray);
    font-size: 1em;
    font-weight: 600;
}



/* Large desktop screens */
@media (min-width: 1400px) {
    .container {
        max-width: 1200px;
        margin: auto;
    }

    header.shadow {
        max-width: 1200px;

    }
}

/* Extra large screens */
@media (min-width: 1600px) {
    .container {
        max-width: 1200px;
        margin: auto;
    }

    header.shadow {
        max-width: 1200px;

    }
}

/* Ultra-wide screens */
@media (min-width: 1920px) {
    .container {
        max-width: 1400px;
        margin: auto;
    }

    header.shadow {
        max-width: 1400px;

    }
}


@media (max-width: 980px) {

    .section_one_sub {
        padding: 0 0 8.5rem;
    }

    .section_one_sub_container {
        padding: 11rem 6% 0;
    }

  
    header {
        width: 100%;
        max-width: 90%;
        background-color: var(--primary_color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2rem;
        border-radius: 30px;
        z-index: 888;
        margin: 2rem 6%;
    }
    
    header .nav_bar {
        width: 100%;
        height: 0;
        position: fixed;
        right: 0;
        top: -30px;
        background-color: var(--primary_color);
        z-index: 0;
        transition: 0s;
        border: 0px solid;
        border-radius: 0;
        overflow: hidden; /* Hide overflow by default */
    }
    
    .nav_bar.navigation {
        top: 0;
        width: 100%;
        height: 100vh; /* Full viewport height */
        padding-bottom: 10%;
        overflow-y: auto; /* Enable vertical scrolling */
    }

    .nav_bar.navigation::after {
        content: "";
        width: 100%;
        background-color: var(--primary_color);
        padding: 4rem 0;
        position: fixed;
        top: 0;
        z-index: 99999;
        left: 0;
    }


    .nav_bar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav_bar.navigation ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        opacity: 1;
        padding-top: 100px;
    }

    .nav_bar ul {
        display: none;
        text-align: center;
        margin: 8rem 0 0;
        opacity: 0;
        transition: 0s;
    }

    .nav_bar nav ul li {
        margin: 10px 0;
    }

    .nav_bar nav ul li a {
        color: var(--primary_color);
        margin: 20px 0 0;
    }

    .bar {
        display: flex;
    }

    .show {
        display: block;
    }

    .hide {
        display: none;
    }

    .dropdown_content {
        position: relative;
        top: 0;
    }

    .section_one_sub_container {
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
        grid-template-columns: 100%;
    }

    .section_one_sub_container_img {
        padding-top: 2rem;
        width: 80%;
    }


    .section_two_sub_container {
        width: 100%;
        max-width: 80%;
        margin: 0 auto;
        grid-template-columns: 100%;
    }

    .section_three_sub_container_text h2 {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        font-size: 3.5em;
    }

    .section_three_sub_container_text p {
        width: 100%;
        max-width: 80%;
    }

    .section_six_sub_container_text h2 {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        font-size: 3.5em;
    }

    .section_six_sub_container_text p {
        width: 100%;
        max-width: 80%;

    }

}




@media (max-width: 780px) {

    .DesktopSize {
        display: none;
    }

    .phoneSize svg text {
        font-size: 3.5em;
        stroke-width: 4;
        letter-spacing: 2px;
        width: 100%;
    }
    
    
    
    .phoneSize svg .text_body {
        stroke: var(--primary_color);
        animation: 5s 1 alternate animate_stroke;
    }
    
    .phoneSize {
        display: block;
    }
    

    .dropdown_content_sub {
        grid-template-columns: 100%;
    }

    .section_one_sub_container {
        width: 100%;
        max-width: 100%;
    }

    .section_one_sub_container_text h1 {
        font-size: 3.6em;
        max-width: 90%;
    }

    .section_one_sub_container_text p {
        max-width: 90%;
    }

    .section_one_sub_container_text_link {
        flex-direction: column;
    }

    .section_one_sub_container_text_link a {
        padding: 15px 30px;
    }

    .head_setion_two .head_setion_two_box p {
        font-size: 1em;
    }

    .section_one_sub_container_img {
        width: 80%;
    }

    .head_setion_two h2 {
        font-size: 2.2em;
    }

    .head_setion_two p {
        font-size: 1.4em;
    }

    .section_three_sub_container_text h2 {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        font-size: 3em;
        line-height: 1.2;
    }

    .section_three_sub_container_text p {
        width: 100%;
        max-width: 100%;
        margin: 20px auto 0;
        font-size: 1.5em;
        font-weight: 300;
        line-height: 1.4;
    }

    .section_four_sub_container {
        max-width: 100%;
        grid-template-columns: 100%;
        gap: 30px;
    }

    .timeline_items::before {
        left: 0px;
        width: calc(100vw / 150);
    }

    .timeline_scroll_indicator {
        left: 0px;
        width: calc(100vw / 60);
        height: calc(100vw / 60);
        margin-top: .2rem;
    }

    .timeline_dot {
        left: 0px;
        width: calc(100vw / 40);
        height: calc(100vw / 40);
    }

    .timeline_content {
        width: calc(100% - 30px);
        float: right;
        margin-left: 0;
    }

    .timeline_item:nth-child(even) .timeline_content,
    .timeline_item:nth-child(odd) .timeline_content {
        float: right;
        transform: translateX(0);
        margin-left: 20px;
    }

    .timeline_content::before {
        left: -10px !important;
        right: auto !important;
    }

    .timeline_content h2 {
        font-size: 1.2em;
        line-height: 24px;
    }

    .timeline_content p {
        font-size: 1em;
        line-height: 18px;
        max-width: 100%;
    }


    @keyframes wave {
        0% {
            transform: translateX(-50%) scale(1);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
        }
        50% {
            transform: translateX(-50%) scale(1.1);
            box-shadow: 0 0 0 4px rgba(255, 255, 255, 0);
        }
        100% {
            transform: translateX(-50%) scale(1);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
    }

    .section_five_sub a {
        font-size: 1em;
        padding: 12px 30px;
    }

    .section_six_sub_container_text h2 {
        margin: 0 auto;
        font-size: 3em;
    }

    .section_six_sub_container_text p {
        font-size: 1.5em;
        line-height: 1.6;
    }

    .section_six_sub {
        padding-bottom: 10rem;
    }

    .section_seven_sub_container_sub1 {
        grid-template-columns: 100%;
    }

    .section_seven_sub_container_sub2 {
        grid-template-columns: 100%;
    }

    .section_seven_sub .head_section h2 {
        font-size: 2em;
    }

    .section_seven_sub .head_section p {
        font-size: 1.5em;
    }

    .footer_sub_news_section {
        flex-direction: column;
        justify-content: left;
        align-items: start;
    }

    .footer_sub_news_section_text p {
        width: 100%;
        max-width: 80%;
    }

    .footer_sub_news_section_input {
        width: 80%;
        justify-content: left;
        padding-top: 1rem;

    }

    .footer_sub_links {
        flex-direction: column;
        align-items: start;

    }
}




@media (max-width: 580px) {

    .dropdown_content_text h2 {
        font-family: Anek Gurmukhi;
        font-size: 1.6em;
    }
    .dropdown_content_text p {
        font-family: Anek Gurmukhi;
        font-size: 1.2em;
    }

    .dropdown_content_sub_text {
        grid-template-columns: 100%;
    }

    .phoneSize svg text {
        font-size: 3em;
        stroke-width: 4;
        letter-spacing: 2px;
        width: 100%;
    }
    

    .section_one_sub_container {
        grid-template-columns: 100%;
    }

    .section_one_sub_container_text {
        width: 100%;
    }

    .section_one_sub_container_text h1 {
        font-size: 2.6em;
        max-width: 99%;
    }

    .section_one_sub_container_text p {
        font-family: Inter;
        font-size: 1.4em;
        max-width: 100%;
    }

    .section_one_sub_container_text p:nth-child(2) {
        font-family: Inter;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        font-size: 1.4em;
        line-height: 1.4;
    }

  

    .head_setion_two_box {
        width: 100%;
    }

    .head_setion_two .head_setion_two_box p {
        font-size: .5em;
    }

    .head_setion_two h2 {
        font-size: 2em;
    }

    .section_two_sub_container {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    .section_two_sub_container_content_text h3 {
        font-size: 1.4em;
    }

    .section_two_sub_container_content_text p {
        font-size: 1.2em;
    }

    .section_three_sub {
        height: 50vh;
    }

    .section_three_sub_container_text h2 {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        font-size: 1.8em;
        line-height: 1.2;
    }

    .section_three_sub_container_text p {
        width: 100%;
        max-width: 100%;
        margin: 20px auto 0;
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.2;
    }

    .section_four_sub_container_text h2 {
        font-size: 2em;
    }

    .section_four_sub_container_text p {
        font-size: 1.2em;
        line-height: 1.4;
        padding-left: 20px;
    }

    .section_four_sub_container_text a {
        font-size: 1em;
        width: 100%;
        padding: 12px 30px;
    }

    .section_five_sub {
        padding: 2rem 4%;
    }

    .section_five_sub_container {
        grid-template-columns: 100%;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        gap: 30px;
    }

    .section_five_sub_container_content p {
        max-width: 100%;
        font-size: 1.2em;
    }

    .section_five_sub a {
        font-size: 1em;
        width: 100%;
        padding: 12px 30px;
    }

    .timeline_scroll_indicator {
        left: 0px;
        width: calc(100vw / 60);
        height: calc(100vw / 60);
        margin-top: .10rem;
    }

    .section_six_sub_container_text h2 {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        font-size: 1.8em;
    }

    .section_six_sub_container_text p {
        width: 100%;
        max-width: 100%;
        font-size: 1.2em;
        line-height: 1.4;
    }



    .section_six_sub img:nth-child(1) {
        position: absolute;
        margin: 0 auto;
        width: 100%;
        bottom: -25%;
        left: 10%;
    }

    .section_six_sub img:nth-child(2) {
        position: absolute;

        width: 16%;
        bottom: -15px;
        left: 15%;
    }

    .section_six_sub img:nth-child(3) {
        position: absolute;
        width: 32%;
        bottom: -15px;
        right: 8%;
    }

    .section_six_sub img:nth-child(4) {
        position: absolute;
        width: 600px;
        bottom: -700px;
        right: -40px;
        background-color: bege;
    }

    .section_six_sub img:nth-child(5) {
        position: absolute;

        width: 12%;
        bottom: -15px;
        left: 49.3%;
    }

    .section_seven_sub .head_section h2 {
        font-size: 1.6em;
        max-width: 100%;
    }

    .section_seven_sub .head_section p {
        font-size: 1.2em;
        max-width: 100%;
    }

    .section_seven_sub_container_content h3 {
        font-size: 1.2em;
    }

    .section_seven_sub_container_content p {
        font-size: .9em;
    }

    .footer_sub_news_section_text h2 {
        font-size: 1.4em;
    }

    .footer_sub_news_section_input {
        width: 100%;

    }


    .footer_sub_links_sub h2 {
        font-family: Inter;
        font-size: 1.4em;
    }

    .footer_sub_links_img img {
        width: 160px;
        margin: 2rem 0 0;
    }


    .footer_sub_links_sub ul li a {
        font-size: .9em;
    }

    .contact_section_info {
        flex-direction: column;
        align-items: start;
    }

}